.fas, .fab{
	color: #66ffc2;
	transition: all 0.1s smooth;
}

.fas:hover, .fab:hover{
	color: rgb(223, 86, 154);
}


@media all and (min-width:320px) and (max-width:719px){
	body {
		box-sizing: border-box;
		overflow-x: hidden;
		height: 100vh; width: 100%;
		background-image: -moz-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../Img/home_background.jpg");
		background-image: -webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../Img/home_background.jpg");
		background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../Img/home_background.jpg");
		background-color: #000;
		background-position: center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		background-attachment: fixed;
		color: #fff;
	}

	.topnav {
		overflow: hidden;
	}
	  
	.topnav a {
		width: 30px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		float: left;
		display: block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
	}
	  
	.topnav a:hover {
		color: #66ffc2;
	}
	  
	.topnav a.selected {
		color: #11ada2;
	  }
	  
	.topnav .navicon {
		display: none;
	  }
	  
	.topnav a:not(:last-child) {
		display: none;}
	.topnav a.navicon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;}
	.topnav.responsive .navicon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	.animate-header::before {
		content: "";
		animation: inv 12s infinite linear;
	}

	h3 {
		padding: 2%;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 2em;
	}

	p{
		padding: 2%;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-size: 1.5em;

	}

	#myself {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin-top: 5%;
		letter-spacing: 0.06rem;
	}

	@keyframes inv{
		0%{
			content: "Hello";
			color: #11ada2;
		}
		25% {
			content: "Bonjour";
			color: #11ada2;
		}
		50%{
			content:"नमस्ते";
			color: #11ada2;
		}

		75%{
			content: "Néih hóu";
			color: #11ada2;

		}
		100% {
			content: "নমস্কার";
			color: #11ada2;
		}
	}

	footer {
		display: flex;
		align-items: center;
		width: 100%;
		height: 5vh;
		background-image: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
		background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
		background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 1em;
		color: #fff;
		position: fixed;
		bottom:0;
	}

	span {
		color: red;
	}

	.animate1 {
		animation: animate1 2s infinite;
	}

	@keyframes animate1 {
		0% {
			color: #fff;
		}

		25%{
			color: #11ada2;	
		}

		50%{
			color: rgb(231, 152, 192);
		}

		100%{
			color: #fff;
		}
	}

}


@media all and (min-width:720px){
	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	body {
		overflow-x: hidden;
		height: 100vh; width: 100%;
		background-image: -moz-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../Img/home_background.jpg");
		background-image: -webkit-linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../Img/home_background.jpg");
		background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../Img/home_background.jpg");
		background-position: center; 
		background-repeat: no-repeat; 
		background-size: cover; 
		background-attachment: fixed;
		display: block;
	}

	.icon {
		display: none;
	}

	nav {
		width: 100%;
		height: 8.5vh;
		background-image: -moz-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
		background-image: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
		background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		text-transform: uppercase;
		-moz-transition: all 0.1s ease-in;
		-webkit-transition: all 0.1s ease-in;
		transition: all 0.1s ease-in;
	}

	nav a{
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		text-decoration: none;
		color: #fff;
		font-size: 1.7vw;
		padding: 1% 1.5%;
		margin-bottom: 1%;
	}

	nav a:hover{
		color: #66ffc2;
		border-bottom: 3px solid rgb(223, 86, 154);
	}

	nav a:active{
		opacity: 0.4;
	}

	.selected {
		color: #66ffc2;
	}

	.navicon {
		display: none;
	}


	main {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
		height: 50%;
	}

	h3 {
		font-family: 'Fira Sans', sans-serif;
		font-size: 2.5vw;
		color: #fff;
		margin-bottom: 2%;
		letter-spacing: 0.15rem;
	}

	P{
		margin-left: 2%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 2vw;
		color: #fff;
		letter-spacing: 0.15rem;
	}

	.animate-header::before {
		content: "";
		animation: inv 12s infinite linear;
	}

	@keyframes inv{
		0%{
			content: "Hello";
			color: rgb(223, 86, 154);
		}
		25% {
			content: "Bonjour";
			color:rgb(223, 86, 154);
		}
		50%{
			content:"नमस्ते";
			color: rgb(223, 86, 154);
		}

		75%{
			content: "Néih hóu";
			color: rgb(223, 86, 154);

		}
		100% {
			content: "নমস্কার";
			color: rgb(223, 86, 154);
		}
	}

	#myself {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin-top: 5%;
		letter-spacing: 0.05rem;
	}


	footer {
		display: flex;
		align-items: center;
		width: 100%;
		height: 5vh;
		background-image: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
		background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
		background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2));
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 1.1vw;
		color: #fff;
		position: fixed;
		bottom:0;
	}

	span {
		color: red;
	}

	.animate1 {
		animation: animate1 2s infinite;
	}

	@keyframes animate1 {
		0% {
			color: #fff;
		}

		25%{
			color: #11ada2;	
		}

		50%{
			color: rgb(223, 86, 154);
		}

		100%{
			color: #fff;
		}
	}

	

}


